certifi==2017.11.5
chardet==3.0.4
Cython==0.26
docutils==0.14
idna==2.6
Kivy==1.10.1.dev0
Kivy-Garden==0.1.4
Pillow==5.0.0
Pygments==2.2.0
PySDL2==0.9.6
requests==2.18.4
SQLAlchemy==1.1.15
tinydb==3.7.0
ujson==1.35
urllib3==1.26.5
